* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boxes {
  border: 1rem solid rgb(204, 204, 204)
}

.box {
  padding: 5rem;
}

.box1 {
  background: rgb(188, 216, 233);
}
.box2 {
  background: rgb(211, 166, 166);
}
.box3 {
  background: rgb(163, 126, 160);
}
.box4 {
  background: rgb(139, 163, 132);
}
.box5 {
  background: rgb(211, 166, 166);
}