/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Ruhl';
  src: url(./assets/fonts/FrankRuhlLibre-Regular.ttf);
}
@font-face {
  font-family: 'Ruhl Medium';
  src: url(./assets/fonts/FrankRuhlLibre-Medium.ttf);
}
@font-face {
  font-family: 'Vibes';
  src: url(./assets/fonts/GreatVibes-Regular.ttf);
}

html {
  font-size: 62.5%;
  --header1: cacl(2rem + 1vw)
  --header2: cacl(3.5rem + 1vw)
  --header3: cacl(3rem + 1vw)
  --header4: cacl(2.4rem + 1vw)
  --text: cacl(1.5rem + 1vw)
  --big: cacl(2.4rem + 1vw)
  --special-color: #906272;
  --background-color: #414141;
  --gray-text: #525252;
}

h1 {
  font-size: var(--header1);
}

li,
button,
label,
a,
p {
  font-size: var(--text);
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3 );
}

h4,
h5 {
  font-size: var(--header4);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Ruhl", sans-serif;
}

h1{
  font-family: "Vibes", sans-serif;
}

.main-head {
  display: flex;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  
}

.main-head nav {
  display: flex;
  align-items: center;
  width: 90%;
  min-height: 10vh;
  margin: auto;
  padding: 2rem 0;
}

#logo {
  flex: 1 1 20rem;
}

.nav-links {
  flex: 1 1 20rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


