html {
    font-size: 62.5%;
}

button {
    margin: 20rem;
    padding: 2rem 4rem;
    background: rgb(111, 82, 207);
    border: 0.3rem solid rgb(111, 82, 207);
    color: white;
    font-size: 2.4rem;
    border-radius: 1rem;
    cursor: pointer;
}